* {
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
p {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  font-style: Regular;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: Medium;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
}
html,
body {
  background-image: url(../img/bg-1.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

main {
  display: flex;
}

.wrapper__img img {
  height: 100vh;
}

.wrapper__img {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.wrapper__img img {
  display: block;
}
.wrapper__img:before {
  content: attr(title);
  box-sizing: border-box;
  width: 100%;
  height: 9%;
  padding: calc(5px + 9 * (100vw - 540px) / 1380);
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: #fff;
  font-size: calc(20px + 44 * (100vw - 540px) / 1380);
}

.information {
  margin: calc(16px + 34 * (100vw - 540px) / 1380);
}
.information__name {
  font-size: calc(24px + 24 * (100vw - 540px) / 1380);
  font-weight: 500;
}
.information__city {
  margin: 20px 0 0 0;
  font-size: calc(18px + 6 * (100vw - 540px) / 1380);
  font-weight: 500;
}

.links {
  margin-top: calc(16px + 34 * (100vw - 540px) / 1380);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
}
.links a:nth-child(1):hover {
  filter: invert(22%) sepia(62%) saturate(3390%) hue-rotate(295deg) brightness(87%) contrast(88%);
}
.links a:nth-child(2):hover {
  filter: invert(47%) sepia(48%) saturate(721%) hue-rotate(61deg) brightness(96%) contrast(85%);
}
.links a:nth-child(3):hover {
  filter: invert(31%) sepia(12%) saturate(3259%) hue-rotate(185deg) brightness(96%) contrast(89%);
}
.links a:nth-child(4):hover {
  filter: invert(76%) sepia(81%) saturate(832%) hue-rotate(143deg) brightness(86%) contrast(90%);
}
.links a:nth-child(5):hover {
  filter: invert(31%) sepia(12%) saturate(3259%) hue-rotate(185deg) brightness(96%) contrast(89%);
}
.links a:nth-child(6):hover {
  filter: invert(31%) sepia(12%) saturate(3259%) hue-rotate(185deg) brightness(96%) contrast(89%);
}

.tags {
  margin-top: calc(16px + 34 * (100vw - 540px) / 1380);
  font-size: calc(16px + 16 * (100vw - 540px) / 1380);
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: calc(10px + 10 * (100vw - 540px) / 1380);
}
.tags__list li {
  padding: calc(8px + 6 * (100vw - 540px) / 1380) calc(35px + 20 * (100vw - 540px) / 1380);
  background-color: #414141;
  border-radius: 45px;
  color: white;
  text-align: center;
}

.about {
  margin-top: calc(16px + 34 * (100vw - 540px) / 1380);
}
.about span {
  font-size: calc(16px + 16 * (100vw - 540px) / 1380);
  line-height: calc(19px + 19 * (100vw - 540px) / 1380);
}
.about p {
  text-indent: 30px;
  font-size: calc(16px + 16 * (100vw - 540px) / 1380);
  line-height: calc(19px + 19 * (100vw - 540px) / 1380);
}

.form {
  margin-top: calc(16px + 34 * (100vw - 540px) / 1380);
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.form label {
  margin-top: calc(10px + 10 * (100vw - 540px) / 1380);
}
.form label .form__input {
  padding: 14px 16px;
  width: calc(185px + 153 * (100vw - 540px) / 1380);
  height: calc(35px + 31 * (100vw - 540px) / 1380);
  font-size: calc(16px + 16 * (100vw - 540px) / 1380);
  border-radius: 11px;
}
.form .form__button {
  width: calc(390px + 312 * (100vw - 540px) / 1380);
  height: calc(35px + 31 * (100vw - 540px) / 1380);
  background-color: #121212;
  border-radius: 11px;
  color: white;
  font-size: calc(16px + 16 * (100vw - 540px) / 1380);
  padding: calc(8px + 6 * (100vw - 540px) / 1380);
}
.form .form__button:hover {
  background-color: #414141;
  cursor: pointer;
}
.form .form__button:active {
  background-color: #1E1E1E;
}

@media (max-device-width: 992px) and (min-device-width: 540px) {
  .tags__list li:nth-child(4) {
    margin-top: -10px;
  }
  .tags__list li:nth-child(5) {
    margin-top: -10px;
  }
}
@media (max-device-width: 540px) {
  body {
    min-height: 100vh;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10vw;
  }
  .form {
    margin: 0 auto;
  }
  .wrapper {
    margin: 0 auto;
  }
  .wrapper__img img {
    height: 689px;
    width: 390px;
    max-width: 95vw;
  }
  .tags__list li:nth-child(4) {
    margin-top: -10px;
  }
  .tags__list li:nth-child(5) {
    margin-top: -10px;
  }
}
@media (max-width: 1260px) and (min-width: 993px) {
  .form__button {
    max-width: calc(185px + 153 * (100vw - 540px) / 1380);
    max-height: calc(35px + 31 * (100vw - 540px) / 1380);
  }
}
@media (max-width: 530px) {
  .form__button {
    max-width: calc(185px + 153 * (100vw - 540px) / 1380);
    max-height: calc(35px + 31 * (100vw - 540px) / 1380);
  }
}
@media (max-width: 493px) {
  .tags__list li:nth-child(3) {
    margin-top: -10px;
  }
  .tags__list li:nth-child(4) {
    margin-top: -10px;
  }
  .tags__list li:nth-child(5) {
    margin-top: -10px;
  }
}/*# sourceMappingURL=style.css.map */